@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Azurereference App</h1>
    <p>A resource for Azure resource setup and interfacing.</p>
</div>
